.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 40px 30px;
}

.title {
  margin-bottom: 40px;
}

.infoIcon {
  margin-left: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.tooltip {
  margin-left: 5px;
}

.address {
  width: fit-content;
  margin-bottom: 5px;
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}

.closeModalButton {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
